* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

h2 {
  background-color: black;
  color: white;
  padding: 20px;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

tbody tr:hover td {
  background-color: grey;
  color: white;
}

th {
  color: white;
  background-color: rgb(56, 56, 56);
}
