* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, black, grey);
  font-family: Arial, sans-serif;
  color: #f1f1f1;
}

.parent {
  position: relative;
  height: 70vh;
  width: 70vw;
}

.parent img {
  width: 100%;
  height: auto;
}

.login-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2c2c2c;
  /* padding: 30px; */
  border-radius: 8px;
  width: 0;
  transition: width 0.5s ease;
  overflow: hidden;
}

.parent:hover .login-container {
  width: 300px;
  padding: 30px;
}

.mask1 {
  -webkit-mask-image: url(images/mask.png);
  mask-image: url(images/mask.png);
  mask-repeat: no-repeat;
  display: inline-block;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #3e3e3e;
  color: #f1f1f1;
}

.login-btn {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
}

.login-btn:hover {
  background-color: #0056b3;
}

small {
  color: grey;
}

small a {
  text-decoration: none;
  color: grey;
}
